POSTGRES_PRISMA_URL=
NEXTAUTH_URL=
NEXT_PUBLIC_API_URL=


# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL=

# Direct connection to the database. Used for migrations.
DIRECT_URL=
        


secret=

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=


SUPABASEE = 


NEXTAUTH_SECRET=

GOOGLE_CLIENT_ID = 
GOOGLE_CLIENT_SECRET = 

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=

UPLOADTHING_SECRET=
UPLOADTHING_APP_ID=

p=

DATABASE_URssL=



mogo=


NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=



NEXT_PUBLIC_PUSHER_APP_KEY=
PUSHER_APP_ID=
PUSHER_SECRET=

app_id = 
key = 
secret = 
cluster =
